{{#each articles}}
    <div class="card mb-3">
        <h3 class="card-header">{{title}}</h3>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <a href="{{link}}">{{link}}</a>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
    <form>
        <div class="form-group">
            <label for="exampleTextarea">Leave Comment</label>
            <grammarly-ghost spellcheck="false"><div data-id="8210395e-3118-2d46-1dac-2f8c20b9b11a" data-gramm_id="8210395e-3118-2d46-1dac-2f8c20b9b11a" data-gramm="gramm" data-gramm_editor="true" class="gr_ver_2" gramm="true" contenteditable="true" style="position: absolute; color: transparent; overflow: hidden; white-space: pre-wrap; border-radius: 0px; box-sizing: border-box; height: 104px; width: 540px; margin: 584px 0px 0px; padding: 16px 0px; z-index: 0; border-width: 0px; border-style: solid; background: none 0% 0% / auto repeat scroll padding-box padding-box rgba(0, 0, 0, 0); top: 0px; left: 0px;"><span style="display: inline-block; font: 400 16px/24px Roboto, -apple-system, system-ui, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif; color: transparent; overflow: hidden; text-align: left; float: initial; clear: none; box-sizing: border-box; vertical-align: baseline; white-space: pre-wrap; width: 100%; margin: 0px; padding: 0px; border: 0px; letter-spacing: normal; text-shadow: none; height: 104px;"></span><br></div></grammarly-ghost><textarea class="form-control" id="exampleTextarea" rows="3" data-gramm="true" data-txt_gramm_id="8210395e-3118-2d46-1dac-2f8c20b9b11a" data-gramm_id="8210395e-3118-2d46-1dac-2f8c20b9b11a" spellcheck="false" data-gramm_editor="true" style="z-index: auto; position: relative; line-height: 24px; font-size: 16px; transition: none; background: transparent !important;"></textarea><grammarly-btn><div class="_1BN1N Kzi1t _2DJZN" style="z-index: 2; transform: translate(480px, 658.5px);"><div class="_1HjH7"><div title="Protected by Grammarly" class="_3qe6h">&nbsp;</div></div></div></grammarly-btn>
        </div>
        </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
    <br>

{{/each}}
